<%
  menu_bar_contexts = local_assigns[:contexts] || {}
  menu_bar_default_context = local_assigns[:default_context].presence || menu_bar_contexts.keys.first || "default"
  menu_bar_current_context = local_assigns[:current_context].presence || menu_bar_default_context
  menu_bar_title = local_assigns[:title].presence || "manuscriptOS"
%>

<header
  class="ig-global-menu-bar"
  data-controller="menu-bar"
  data-menu-bar-contexts-value="<%= json_escape(menu_bar_contexts.to_json) %>"
  data-menu-bar-default-context-value="<%= menu_bar_default_context %>"
  data-menu-bar-current-context-value="<%= menu_bar_current_context %>"
>
  <div class="ig-global-menu-bar__brand" aria-hidden="true"><%= menu_bar_title %></div>
  <div class="ig-global-menu-bar__menus" data-menu-bar-target="menus"></div>
  <div class="ig-global-menu-bar__status">
    <span><%= Time.current.strftime("%a %-I:%M %p") %></span>
  </div>
  <div class="ig-global-menu-bar__dropdown-layer" data-menu-bar-target="dropdowns"></div>
</header>
