<main class="home">
  <% if @sandbox_component == "ig_menu" %>
    <%= render "shared/ig_menu",
      items: [
        {
          label: "Create Scene",
          intent: "create",
          kind: "scene",
          payload: { source: "sandbox", chapter_id: 1 }
        },
        {
          label: "Create Character",
          intent: "create",
          kind: "character",
          payload: { source: "sandbox" }
        },
        {
          label: "Create Location",
          intent: "create",
          kind: "location",
          disabled: true
        }
      ],
      width: "22rem",
      height: "16rem" %>
  <% elsif @sandbox_component == "ig_note" %>
    <div class="sandbox-notes">
      <%= render "shared/ig_note",
        title: "description, image or a",
        content: "Write your sticky note content here.\nYou can pass any text into IGNote.",
        variant: "blue",
        mode: "expanded",
        width: "42rem",
        height: "18rem" %>

      <%= render "shared/ig_note",
        title: "collapsed",
        content: "This is hidden in collapsed mode.",
        variant: "yellow",
        mode: "collapsed",
        width: "42rem" %>
    </div>
  <% elsif @sandbox_component == "ig_shortcut" %>
    <section class="sandbox-desktop" aria-label="Desktop">
      <div class="sandbox-desktop__item" style="left: 70px; top: 90px;">
        <%= render "shared/ig_shortcut", thumbnail: "/icons/write.png", label: "New Scene 32", size: 32, isSelected: false %>
      </div>
      <div class="sandbox-desktop__item" style="left: 240px; top: 90px;">
        <%= render "shared/ig_shortcut", thumbnail: "/icons/write.png", label: "New Scene 64", size: 64, isSelected: false %>
      </div>
      <div class="sandbox-desktop__item" style="left: 450px; top: 70px;">
        <%= render "shared/ig_shortcut", thumbnail: "/icons/write.png", label: "New Scene 128", size: 128, isSelected: true %>
      </div>
      <div class="sandbox-desktop__item" style="left: 70px; top: 285px;">
        <%= render "shared/ig_shortcut", thumbnail: "/icons/sound.png", label: "Sound Cue 32", size: 32 %>
      </div>
      <div class="sandbox-desktop__item" style="left: 240px; top: 285px;">
        <%= render "shared/ig_shortcut", thumbnail: "/icons/sound.png", label: "Sound Cue 64", size: 64 %>
      </div>
      <div class="sandbox-desktop__item" style="left: 450px; top: 265px;">
        <%= render "shared/ig_shortcut", thumbnail: "/icons/sound.png", label: "Sound Cue 128", size: 128 %>
      </div>
    </section>
  <% else %>
    <h1 class="home__title">Insanely Great</h1>
  <% end %>
</main>
